@import url('https://fonts.googleapis.com/css2?familyRoboto:ital,wght@0,100..900;1,100..900&displayswap');

body {
  font-family: 'Roboto', sans-serif;
}


.fullPage {
    height: 95vh;
}
.brand {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #004250
}
.tealBg {
    background-color: #004250;
    border: none;
}
.blueBg {
    background-color: #002950;
    border:none;
}
.greenBg {
    background-color: #009c22;
    border:none;
}
